/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  scroll-padding-top: 70px; /* 固定ヘッダの高さ分 */
}
body {
  margin-bottom: 60px;
}
main > .container {
  padding: 60px 15px 0;
}
.footer {
  position: absolute;
  bottom: 0;
  background-color: #f5f5f5;
  width: 100%;
  /* 
  Set the fixed height of the footer here
  height: 60px;
  background-color: #f5f5f5 */;
}

.tab-box {
    margin: 0 auto;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    font-size: .95rem;
}
.table-type1 {
    width: 100%;
    margin: 0;
}

.accordion .card-header {
    padding: 0;
    /* background-color: #8ac349; */
}

.accordion .card:only-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: .25rem;
}

.accordion .card-header h5 {
    font-size: 1.1rem;
}

.accordion .card-header label,
.accordion .card-header a {
    display: block;
    position: relative;
    margin: 0;
    padding: 0.75rem 1rem;
    color: #fff !important;
}

.accordion .card-header label > span:before,
.accordion .card-header a:before {
    display: inline-block;
    position: absolute;
    top: calc(50% - .9rem);
    right: 1rem;
    float: right;
    font-family: "FontAwesome", serif;
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 1;
    content: "\F056";
}

.accordion .card-header label > span.collapsed:before,
.accordion .card-header a.collapsed:before {
    content: "\F055";
}

.accordion .card-header a:hover {
    opacity: 1 !important;
}

.accordion .card-header label input {
    opacity: 0;
    width: 1px;
    height: 1px;
}

.accordion .card-border {
    border-bottom: thin !important;
    border-color: lightgray;
}

.login-form {
    margin-top: 8rem;
}

.sort:after{
    content: '\f046';
    display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.entry-title:before{
	content: '\f046';
	display: inline-block;
	font-family: FontAwesome;
	font-weight: normal;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}